body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(media/bk.png);
    background-repeat: no-repeat;
    background-size: 100%;

}

.container{
    width:880px;
    margin: 0 auto 0 auto;
    border: 1px red solid;
}

.top{
    text-align: center;
}

.top img{
    width: 200px;
}

.mynav {
    background-color: black;
    padding-top: 20px;
    padding-bottom: 10px;
}

.mynav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

.mynav ul li a{
    text-decoration: none;
    font-size: larger;
    color: white;
}

.main{
    display:flex
}

.main .left{
    width: 80%;
    padding: 20px;
}

.main .right{
    width:30%;
    padding: 20px;
}

.main .right img{
    width:100%;
}