body{
    margin: 0;
    background-color: #c0abab;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
 
.container{
    width: 85%;
    margin: 0 auto;
    background-color: white;
}
 
.top{
    border-bottom: 4px solid #c0abab;
    padding-left: 20px;
    padding-top: 2%;
}

.flexdiv{
    display: flex;
    flex-direction: row;
}